## Adding Parent Categories to Venues DF

In [11]:
import pandas as pd
from nltk.stem.porter import PorterStemmer 
import time
from tqdm import tqdm_notebook as tqdm

### defining decoding text function

In [12]:
def decoding_text(text):
    try:
        clean = text.decode("utf-8-sig").replace(u"\ufffd", "?")
    except:
        clean = text
    return clean

In [13]:
def decode_df(df):
    for col in df:
        try:
            for row in tqdm(df[col]):
                time.sleep(0.1)
                df[col] = decoding_text(row)
        except:
            pass
    return df

In [14]:
dc_df = decode_df(venues)
dc_df.head()

A Jupyter Widget

Exception in thread Thread-5:
Traceback (most recent call last):
  File "/Users/annabopeep/anaconda2/lib/python2.7/threading.py", line 801, in __bootstrap_inner
    self.run()
  File "/Users/annabopeep/anaconda2/lib/python2.7/site-packages/tqdm/_tqdm.py", line 144, in run
    for instance in self.tqdm_cls._instances:
  File "/Users/annabopeep/anaconda2/lib/python2.7/_weakrefset.py", line 60, in __iter__
    for itemref in self.data:
RuntimeError: Set changed size during iteration

A Jupyter Widget

A Jupyter Widget

A Jupyter Widget

A Jupyter Widget

A Jupyter Widget

Exception in thread Thread-9:
Traceback (most recent call last):
  File "/Users/annabopeep/anaconda2/lib/python2.7/threading.py", line 801, in __bootstrap_inner
    self.run()
  File "/Users/annabopeep/anaconda2/lib/python2.7/site-packages/tqdm/_tqdm.py", line 144, in run
    for instance in self.tqdm_cls._instances:
  File "/Users/annabopeep/anaconda2/lib/python2.7/_weakrefset.py", line 60, in __iter__
    for itemref in self.data:
RuntimeError: Set changed size during iteration

A Jupyter Widget

,venue_name,venue_id,rating,tips,cat_name,cat_id,ll
0,Rish Mix,56b39c20498ea8fecd563d3d,NaN,This is the second of four Jubilee Line Crossi...,Amphitheater,56aa371be4b08b9a8d5734db,"51.523882,-0.068887"
1,Rish Mix,56b39c20498ea8fecd563d3d,NaN,This is the second of four Jubilee Line Crossi...,Amphitheater,56aa371be4b08b9a8d5734db,"51.523882,-0.068887"
2,Rish Mix,56b39c20498ea8fecd563d3d,NaN,This is the second of four Jubilee Line Crossi...,Amphitheater,56aa371be4b08b9a8d5734db,"51.523882,-0.068887"
3,Rish Mix,56b39c20498ea8fecd563d3d,NaN,This is the second of four Jubilee Line Crossi...,Amphitheater,56aa371be4b08b9a8d5734db,"51.523882,-0.068887"
4,Rish Mix,56b39c20498ea8fecd563d3d,NaN,This is the second of four Jubilee Line Crossi...,Amphitheater,56aa371be4b08b9a8d5734db,"51.523882,-0.068887"

In [4]:
venues = pd.read_csv('./londonvenues.csv')
venues.head(3)

,venue_name,venue_id,rating,tips,cat_name,cat_id,ll
0,Rish Mix,56b39c20498ea8fecd563d3d,NaN,NaN,Amphitheater,56aa371be4b08b9a8d5734db,"51.523882,-0.068887"
1,Garden Marquee,56e3505d498e40af95d08042,NaN,NaN,Amphitheater,56aa371be4b08b9a8d5734db,"51.526064,-0.13527"
2,Horniman Museum and Gardens,4ac518d2f964a52045a720e3,9.3,Great fun to be had by everyone. The aquarium ...,Aquarium,4fceea171983d5d06c3e9823,"51.4409815123,-0.0613689422607"

In [ ]:
venues = venues.drop(['venue_name', 'venue_id', 'll'], axis =1)
venues = decode_df(venues)
venues = venues.sort_values(['cat_id'], axis =0)
venues.head()

In [ ]:
cat = pd.read_csv('./raw_data/category_tree.csv')
cat.head(3)

In [ ]:
# keep only necessary columns
categories = cat[['level1_name', 'level2_id', 'level2_name']]
categories.columns = ['cat_parent', 'cat_id', 'cat_name']
categories = categories.sort_values(['cat_name'], axis =0)
categories = categories.dropna(axis=0)
categories.head()

In [ ]:
print len(categories.cat_name.unique()) 
print len(venues.cat_name.unique())

In [ ]:
# Decoding
categories['cat_name'] = decoding_text(categories.cat_name)
categories['cat_parent'] = decoding_text(categories.cat_parent)
venues['cat_name']= decoding_text(venues.cat_name)
venues['tips']= decoding_text(venues.tips)

In [ ]:

test = categories.cat_name

test_result =[]
for t in tqdm(test):
    time.sleep(0.1)
    test_result.append(decoding_text(test))
test_result

In [ ]:
from nltk.stem.porter import PorterStemmer 
import time
from tqdm import tqdm_notebook as tqd

In [ ]:
def stemming(cat_name):
    all_ = []
    for name in tqdm(cat_name):
        time.sleep(0.1)
        ps = PorterStemmer()
        words = str(name).split()
        print words
#         stem = [ps.stem(word) for word in words]
#         reformed = " ".join(stem) 
#         all_.append(reformed)
#     return all_

In [ ]:
cat_cat_name = categories.cat_name[:10]
cat_stem = stemming(hey)

In [ ]:
cat_stem

In [ ]:
ven_cat_name = venues.cat_name
venues_stem = stemming(venues.cat_name)

In [ ]:
c_u = categories.cat_name.unique()
v_u = venues.cat_name.unique()
if c_u in v_u:
    pass
else:
    print c_u
    print v_u

In [ ]:
# categories = categories.groupby(['cat_parent','cat_name']).sum()
# categories.head()

In [ ]:
# zip(categories.cat_id.unique(),venues.cat_id.unique())

In [ ]:
categories.isnull().sum()

In [ ]:
dff = pd.merge(venues, categories, on='cat_id', how='right')
dff.head(3)

In [ ]:
dff.isnull().sum()

In [ ]:
venues.cat_id.unique()

In [ ]:
categories.cat_id.unique(),venues.cat_id.unique())

In [ ]:
dff.head(20)

## Save to CSV file

In [ ]:
dff.to_csv('londonvenues_raw.csv', header=True, index=False)

- LSI (Latent Semantic Indexing)
- LDA (Latent Dirichlet Allocation)
- HDP (Hierarchical Dirichlet Process)
- Word2Vec
- LogisticRegression
- Naive Bayes
- SVM
text blob
- DTM (document term matrix)

In [ ]:
pd.read_csv('londonvenues_raw.csv').head()

## Cleaning Text 
Before NLP can begin the text should be processed to ensure it doesn't contain outliers anomolies??? which can effect the data ....

- stop words: predefined language specific libraries. stop words may not be removed but are taken into account when vectorising

- punctuation: according to priority  eg: “.”, “,”,”?” are important 
- Standardizing words: Sometimes words are not in proper formats. For example: “I looooveee you” should be “I love you”. Simple rules and regular expressions can help solve these cases. tweet = ''.join(''.join(s)[:2] for _, s in itertools.groupby(tweet))

- 
When doing NLP, we often find ourselves working with tokenized sentences. Sentences are often separated (tokenized) where ever there is a period. If there are any extra periods within a sentence, for example those used in acronyms (ie U.S.A.) we’ll incorrectly split the sentence. Thus it’s good practice to explore the types of documents you’ll be working to identify these nuances so that they can be properly addressed. Below is an example of how to remove a few of these “dangerous” punctuation marks.

In [ ]:
tips = df_drop.tips

### Removal of non alpha-numeric characters
ie different characters from different languages (including any unnecessary punctuation.

In [ ]:
# import re
# for item in df_drop.tips:
#     print item
#  tips = re.sub('[^A-Za-z .-]+', ' ', tips)???

- slang: transformed into standard words to make free text. Helo to Hello. similar to apostrophe look up can be used to convert slangs to standard words. A number of sources are available on the web, which provides lists of all possible slangs, this would be your holy grail and you could use them as lookup dictionaries for conversion purposes. tweet = _slang_loopup(tweet)